extends layout

block content
  h1 Viter API
  /api/
  p /undskyld for random undskylding
  p /undskyld/all for liste af alle
  p /{ID} for specifik
  p /undskyld/submissions for alle submissions
  p /undskyld/{ide}/navn med post for ny undskyldning
